* {
	border: 0;
	margin: 0;
	padding: 0;
	font: inherit;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	background: #fff;
	font-size: 80%;
}

input, textarea, button {
	background: #f9f9f9;
	border: #cfcfcf solid thin;
	padding: 0.2em 0.7em;
}

input:hover, button:hover {
	background: #cbe7fc;
}

input[type="checkbox"] {
	padding: 2px;
}

headingtext {
	font-size: 50px;
	color: #ffffff;
}

#background {
	background: #ca0002;
	height: 100px;
	left: 0;
	position: absolute;
	top: 0px;
	width: 100%;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #CF0000 0%, #B60002 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #CF0000 0%, #B60002 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top left, #CF0000 0%, #B60002 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #CF0000), color-stop(1, #B60002));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #CF0000 0%, #B60002 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom right, #CF0000 0%, #B60002 100%);
}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

#header {
	padding-top: 10px;
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	color: white;
	font-size: 12px;
	text-align: left;
	position: relative;
}

#header a {
	text-decoration: none !important ;
	color: white;
}

#header a:hover{
	color: white;
	text-decoration: underline !important ;
}

#navrow {
	background: #b60002;
	box-shadow: 0 0 100px #bbc;
	display: block;
	height: 30px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #B60002 0%, #780001 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #B60002 0%, #780001 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #B60002 0%, #780001 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B60002), color-stop(1, #780001));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #B60002 0%, #780001 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #B60002 0%, #780001 100%);
}

#navrow2 {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

#navrow2 li {
	background: #900;
	border-right: 1px solid #ca0002;
	display: block;
	float: left;
	height: 30px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #B60002 0%, #780001 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #B60002 0%, #780001 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #B60002 0%, #780001 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B60002), color-stop(1, #780001));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #B60002 0%, #780001 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #B60002 0%, #780001 100%);
}

#navrow2 li a {
	background: #b60002;
	border-right: 1px solid #900;
	color: #fff;
	display: block;
	font-weight: 700;
	line-height: 30px;
	overflow: hidden;
	text-align: center;
	text-decoration: none !important ;
	width: 98px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #B60002 0%, #780001 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #B60002 0%, #780001 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #B60002 0%, #780001 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B60002), color-stop(1, #780001));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #B60002 0%, #780001 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #B60002 0%, #780001 100%);
}

#navrow2 li a:hover {
	background: #ca0002;
}

#navrow2 #all {
	border-left: 1px solid #900;
}

#navrow2 #ct {
	width: 97px;
}

red {
	color: #ca0002;
}

.trialtable {
	border-collapse: collapse;
	width: 900px;
}

.trialtable th, .trialtable td {
	border-bottom: thin solid #b60002;
	padding: 5px;
	vertical-align: middle;
}

.trialtable a {
	color: #ca0002;
	text-decoration: none !important ;
}

.trialtable a:hover {
	color: #ca0002;
	text-decoration: underline !important ;
}

.trialtable th {
	border-top: none;
	font-size: 14px;
	text-align: center;
}

.trialtable td {
	font-size: 10px;
	text-align: left;
}

.listtable {
	border-collapse: collapse;
	margin-top: 2em;
	width: 100%;
}

.listtable th, .listtable td {
	border: #b60002 solid thin;
	padding: 5px;
	vertical-align: middle;
}

.listtable th {
	font-size: 14px;
	text-align: center;
}

.listtable td {
	font-size: 12px;
}

.listtable td p {
	padding: 0.7em;
}

.listtable a {
	color: #ca0002;
	text-decoration: none !important ;
}

.listtable a:hover {
	color: #ca0002;
	text-decoration: underline !important ;
}

.detailtable {
	border: #b60002 solid thin;
	border-collapse: collapse;
	width: 900px;
}

.detailtable th, .detailtable td {
	border-bottom: thin solid #b60002;
	padding: 5px;
	vertical-align: middle;
}

.detailtable th {
	background: #b60002;
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.detailtable td {
	font-size: 12px;
	text-align: left;
}

.leadingtd {
	width: 18%;
}

.detailtable a {
	color: #ca0002;
	text-decoration: none !important ;
}

.detailtable a:hover {
	color: #ca0002;
	text-decoration: underline !important ;
}

.footer {
	background: #b60002;
	color: #fff;
	font-size: 10px;
	line-height: 2em;
	padding-left: 2em;
	text-align: left;
}

.footer * {
	vertical-align: middle;
}

.footer a {
	color: #fff;
	text-decoration: none !important ;
}

.footer a:hover {
	text-decoration: underline !important ;
}

dd p {
	padding: 1em 2.5em 1em 2.5em;
}

dt {
	font-style: italic;
}

.cform {
	line-height: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.cform input, .cform textarea {
	float: right;
	line-height: 1em;
	width: 70%;
}

.cform input[type="submit"] {
	margin-left: 0.5em;
	margin-top: 0.5em;
	width: 30%;
}

.shortdiv {
	border: none;
}

.shortdiv a {
	color: #ca0002;
	text-decoration: none !important ;
}

.shortdiv a:hover {
	color: #ca0002;
	text-decoration: underline !important ;
}