{% extends "trialsapp/base.html" %}

{% block title %}Coronary artery disease (CAD) trials - CardiologyTrials.org{% endblock %}

{% block content %}
{% load trialsapp_extras %}
<div id="container">	
	<table class="trialtable">
		<tr>
			<th colspan="4"><h1>Evidence for CAD (coronary artery disease) therapies</h1></th>
		</tr>
		<tr>
			<td colspan="4">
			<p>The framingham heart study has identified <red>hypertension</red> as a risk factor for cornary artery disease and ace inhibitors and angiotensin receptor blockers may provide further benefit above BP reduction (<a href="/detail/71/" rel="/short/71/">HOPE</a>, <a href="/detail/72/" rel="/short/72/">ONTARGET</a>), though this is controversial (<a href="/detail/84/" rel="/short/84/">VALUE</a>).</p><br />
			<p><red>Statins</red> reduce mortality (<a href="/detail/1/" rel="/short/1/">4S</a>).</p><br />
			<p>Whilst <red>coronary artery bypass grafting</red> appears to reduce mortality in patients in high-risk diabetics (<a href="/detail/64/" rel="/short/64/">BARI-2D</a>, <a href="/detail/97/" rel="/short/97/">FREEDOM</a>) and patients with multi-vessel or left main stem disease (<a href="/detail/73/" rel="/short/73/">ASCERT</a>, <a href="/detail/63/" rel="/short/63/">SYNTAX</a>), <red>percutaneous coronary intervention</red> is much more controversial; <a href="/detail/74/" rel="/short/74/">COURAGE</a> showed no benefit for PCI over medical therapy, though <a href="/detail/93/" rel="/short/93/">FAME-2</a> may have shown some benefit.</p>
			</td>
		</tr>
		<tr>
			<th>Topic</th>
			<th>Therapy group</th>
			<th>Therapy</th>
			<th>Trial</th>
		</tr>
		<tr>
		{% for topic in topics_list|dictsort:"name" %}
			<td colspan="1" rowspan="{% get_topic_rows topic %}"><a href="#" name="{{ topic }}">{{ topic.displayname }}</a></td>
			{% for therapy in topic.therapy_set.all|dictsort:"name" %}
				<td colspan="1" rowspan="{% get_therapy_rows therapy %}">{{ therapy.displayname }}</td>
				{% for intervention in therapy.intervention_set.all|dictsort:"name" %}
				<td>{{intervention.displayname }}</td>
					<td>{% for trial in intervention.trial_set.all|dictsort:"date" %}
						<a href="/detail/{{ trial.id }}/" rel="/short/{{ trial.id }}/">{{ trial }}{% if not forloop.last %},{% endif %}</a>{% endfor %}
					</td>
		</tr>
				{% endfor %}
			{% endfor %}
		{% endfor %}
	</table>
		
</div>
{% endblock %}
